body {
	font-family: "Roboto", sans-serif;
	font-size: var(--fs-body);
	color: var(--color-primary);
	background-image: radial-gradient(
		circle farthest-corner at 1.5% 1.4%,
		rgba(159, 227, 255, 1) 0%,
		rgba(255, 177, 219, 1) 100.2%
	);
}

/* utitlity classes */
.container {
	--max-width: 500px;
	--dynamic-width: 93%;
	padding-block: var(--x-padding);
	width: min(var(--dynamic-width), var(--max-width));
	margin: 0 auto;
	padding-block: 5rem;
}

.text-primary {
	color: var(--color-primary);
}

.text-secondary {
	color: var(--color-secondary);
}

.fw-regular {
	font-weight: var(--fw-regular);
}

.fw-medium {
	font-weight: var(--fw-medium);
}

.fw-bold {
	font-weight: var(--fw-bold);
}

.icon {
	--dimen: 6rem;
	width: 5rem;
	height: 5rem;
}

/* buttons */
.btn {
	display: inline-block;
	cursor: pointer;
	white-space: nowrap;
	border: 1px solid transparent;
	background-color: transparent;
}

.btn--icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
